:root {
  --mario-size: 150px;
  --pipe-width: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game-board {
  border: 1px solid #101010;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

#cloud {
  position: absolute;
  height: 400px;
}

#pipe {
  bottom: 0;
  height: 10px;
  left: 100%;
  position: absolute;
  width: var(--pipe-width);
}

#mario {
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: var(--mario-size);
}
